<h2>Jobs you have posted</h2>
<mat-accordion multi="true" *ngIf="jobPosts.length > 0">
    <mat-expansion-panel *ngFor="let jobPost of jobPosts">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>home</mat-icon>
                <h3>{{jobPost.nameOfCompany}}</h3>
            </mat-panel-title>
            <mat-panel-description>
                <h3><b>{{jobPost.jobTitle}}</b></h3>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div>{{jobPost.jobDescription}}</div>
        <mat-action-row>
            <a mat-button color="primary">Edit</a>
            <button mat-button color="warn" (click)="onDeleteJobPost(jobPost.id)">Delete</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>