<form [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>{{label}}</mat-label>
        <input matInput type="text" formControlName="nameOfCompany" placeholder="{{ placeholder }}" name="nameOfCopany" aria-label="Name Of Company" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="nameOfCompany">
            <mat-option *ngFor="let company of companies" [value]="company.name">
                <span>{{company.name}}</span>
            </mat-option>
        </mat-autocomplete>
        <mat-error>Please enter company's name.</mat-error>
    </mat-form-field>
</form>