<div class="icon-buttons">
    <a mat-stroked-button color="primary" [class.isDisabled]="modeSelected == '' || modeSelected == undefined" href="http://localhost:3000/auth/google" class="icon-button">
        <svg-icon src="../../assets/icons/google.svg" [svgStyle]="{ 'height.rem':3, 'margin-left.rem': -1.2, 'position': 'relative', 'top.px': 5 }"></svg-icon>
    </a>
    <a mat-stroked-button color="primary" class="icon-button" [class.isDisabled]="modeSelected == '' || modeSelected == undefined">
        <svg-icon src="../../assets/icons/facebook.svg" [svgStyle]="{ 'height.rem':3, 'margin-left.rem': -1.2, 'position': 'relative', 'top.px': 5 }"></svg-icon>
    </a>
    <a mat-stroked-button color="primary" [class.isDisabled]="modeSelected == '' || modeSelected == undefined" class="icon-button">
        <svg-icon src="../../assets/icons/linkedin.svg" [svgStyle]="{ 'height.rem':3, 'margin-left.rem': -1.2, 'position': 'relative', 'top.px': 5 }"></svg-icon>
    </a>
    <a mat-stroked-button color="primary" [class.isDisabled]="modeSelected == '' || modeSelected == undefined" class="icon-button">
        <svg-icon src="../../assets/icons/github.svg" [svgStyle]="{ 'height.rem':3, 'margin-left.rem': -1.2, 'position': 'relative', 'top.px': 5 }"></svg-icon>
    </a>
</div>