<div class="icon-buttons">
    <button mat-stroked-button color="primary" class="icon-button"><svg-icon src="../../assets/icons/google.svg" [svgStyle]="{ 'height.rem':3, 'margin-left.rem': -1.2, 'position': 'relative', 'top.px': 5 }"></svg-icon></button>
    <button mat-stroked-button color="primary" class="icon-button"><svg-icon src="../../assets/icons/facebook.svg" [svgStyle]="{ 'height.rem':3, 'margin-left.rem': -1.2, 'position': 'relative', 'top.px': 5 }"></svg-icon></button>
    <button mat-stroked-button color="primary" class="icon-button"><svg-icon src="../../assets/icons/linkedin.svg" [svgStyle]="{ 'height.rem':3, 'margin-left.rem': -1.2, 'position': 'relative', 'top.px': 5 }"></svg-icon></button>
    <button mat-stroked-button color="primary" class="icon-button"><svg-icon src="../../assets/icons/github.svg" [svgStyle]="{ 'height.rem':3, 'margin-left.rem': -1.2, 'position': 'relative', 'top.px': 5 }"></svg-icon></button>
</div>