.icon-button {
    width: 2rem !important;
    margin-right: 1rem;
}

.icon-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: 0 auto;
}

.icon-buttons .isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.isDisabled {
    color: currentColor;
    display: inline-block;
    /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
}

mat-card {
    width: 30%;
    height: 1.5rem;
    margin: 0 auto;
    border-radius: 15%;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(1.3);
    }
    66% {
        transform: scale(1.2);
    }
    100% {
        transform: rotate(xx) scale(1);
    }
}

.enabled {
    animation: scale 2s forwards 0s linear;
}

.google {
    background-color: bisque;
}

.facebook {
    background-color: #3F51B5;
}

.linkedin {
    background-color: #0288D1;
}

.github {
    background-color: black;
}