mat-toolbar {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

.header {
    font-size: 30px;
}

.mat-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-name {
    color: white;
}

::ng-deep mat-list-item-focus {
    display: none;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

mat-list {
    width: 25%;
    position: relative;
    bottom: 0.3rem;
}

mat-list-item {
    position: relative;
    top: 0.3rem;
}

.user-button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

::ng-deep .mat-button-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    position: relative;
    bottom: 0.2rem;
}

.arrow-left {
    width: 0;
    height: 0;
    position: relative;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}

img {
    position: relative;
    top: 0.6rem;
}

::ng-deep .mat-menu-panel {
    position: relative;
    top: 1rem;
    left: -1rem;
}

.logout {
    color: black !important;
}