<mat-toolbar color="accent">
    <span>
		<a routerLink="/job-seeker/jobs" class="header">Jobs</a>
	</span>
    <span class="spacer"></span>
    <mat-list>
        <mat-list-item class="button-search">
            <a routerLink="/job-seeker/search-job" routerLinkActive="mat-primary">Search Job</a>
        </mat-list-item>
        <mat-list-item *ngIf="userIsAuthenticated">
            <span class="user-info" routerLink="/job-seeker/profile">
              <img mat-list-avatar *ngIf="user.image; else defaultImage" [src]="user.image" alt="Desc 1">              <ng-template #defaultImage>
                  <img mat-list-avatar src="../../../assets/images/defaultProfile.jpg">
                </ng-template>
              <p class="user-name" *ngIf="user.firstName; else nameBlock">{{user.firstName}}</p>
              <ng-template #nameBlock><p class="user-name">Ajay</p></ng-template>
          </span>
            <button [matMenuTriggerFor]="menu" class="user-button">
            <div class="arrow-left"></div>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <a (click)="onLogOut()" routerLinkActive="mat-accent" class="logout">
                    Log Out 
                  </a>
                </button>
            </mat-menu>
        </mat-list-item>
    </mat-list>
</mat-toolbar>