mat-icon {
    margin-top: 1rem;
}

mat-panel-description {
    text-align: center;
}

.company-logo {
    margin-top: 0.7rem;
    height: 30px;
    width: 30px;
}

img {
    margin-top: 0.9rem;
    margin-right: 1rem;
}