# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
public

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

#backend files
backend/config/keys
job-portal/backend/config/keys
backend/config/keys.js

#certificates
client-cert.pem
client-key.pem.gitignore
backend/app.js
backend/middlewares/ensure-authentication.js
backend/middlewares/ensure-social-authentication.js
backend/routes/job-seeker.js
backend/routes/recruiter.js
backend/routes/social-auth.js
client-cert.pem
client-key.pem
client.csr
server.js
src/app/job-seeker/job-search-form/job-search-form.component.scss
src/app/layout/recruiter-header/recruiter-header.component.scss
src/app/recruiter/post-jobs/post-jobs.component.html
src/app/recruiter/post-jobs/post-jobs.component.scss
src/app/recruiter/post-jobs/post-jobs.component.ts
src/app/services/authentication.service.ts
