mat-form-field {
    width: 20%;
    margin: 5px;
}

mat-card-footer {
    height: 3rem;
    text-align: center;
}

mat-card-content {
    text-align: center;
}

.search-job-form {
    margin-top: 2%;
    text-align: center;
}

button {
    width: 10%;
}

mat-card {
    margin: 0 auto;
    width: 80%;
}

::ng-deep .mat-button-wrapper {
    display: block;
}