<div class="search-job-form">
    <mat-card>
        <mat-card-title>Search Jobs</mat-card-title>
        <hr>
        <mat-card-content>
            <form [formGroup]="jobSearchForm" (ngSubmit)="onSubmit(form)">
                <mat-form-field appearance="outline">
                    <mat-label>Search By Designation</mat-label>
                    <input matInput type="text" placeholder="Search By Designation" formControlName="designation">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Search By Key Skills</mat-label>
                    <input matInput type="text" placeholder="Search By Key Skills" formControlName="keySkills">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Search By Work Experience</mat-label>
                    <mat-select placeholder="Search By Work Experience" formControlName="experience">
                        <mat-option *ngFor="let exp of expList" [value]="exp.value">
                            {{exp.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Search By Min Salary</mat-label>
                    <mat-select placeholder="Search By Min Salary" formControlName="salary">
                        <mat-option *ngFor="let sal of salaryList" [value]="sal.value">
                            {{sal.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <app-autocomplete (formReady)="addFormControl('location', $event)"></app-autocomplete>
            </form>
        </mat-card-content>
        <mat-card-footer>
            <button type="submit" mat-raised-button color="accent">Search</button>
        </mat-card-footer>
    </mat-card>
</div>