<div class="search-job-form">
  <mat-card>
		<mat-card-title>Search Jobs</mat-card-title>
		<hr>
		<mat-card-content>
			<form>
				<mat-form-field>
					<input matInput type="text" placeholder="Search By Designation">
				</mat-form-field>
				<mat-form-field>
					<input matInput type="text" placeholder="Search By Key Skills">
				</mat-form-field>
				<mat-form-field>
					<input matInput type="text" placeholder="Search By Location">
				</mat-form-field>
				<mat-form-field>
					<input matInput type="text" placeholder="Search By Work Experience">
				</mat-form-field>
				<mat-form-field>
					<input matInput type="text" placeholder="Search By Min Salary">
				</mat-form-field>
			</form>
		</mat-card-content>
		<mat-card-footer>
				<button type="submit" mat-raised-button color="accent">Search</button>
		</mat-card-footer>
  </mat-card>
</div>
