form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

mat-card-footer {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 5rem;
    width: 100%;
    text-align: center;
}

.job-description {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
    width: 100%;
}

::ng-deep .mat-button-wrapper {
    display: block;
}