<div class="post-job-form">
    <mat-card>
        <mat-card-title>Post Job</mat-card-title>
        <hr>
        <mat-card-content>
            <form [formGroup]="jobPostForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <mat-label>Title Of Job</mat-label>
                    <input matInput type="text" placeholder="Title Of Job" name="jobTitle" formControlName="jobTitle">
                    <mat-error>Please enter a job title.</mat-error>
                </mat-form-field>
                <app-company-autosuggetion (formReady)="addFormControl('nameOfCompany', $event)" label="{{ nameOfCompanyLabel }}" placeholder="{{ nameOfCompanyLabel }}"></app-company-autosuggetion>
                <mat-form-field appearance="outline">
                    <mat-label>Experience Range</mat-label>
                    <input matInput type="text" placeholder="Experience Range" name="experienceRange" formControlName="experienceRange">
                    <mat-error>Please enter experience range needed.</mat-error>
                </mat-form-field>
                <app-autocomplete (formReady)="addFormControl('location', $event)" label="{{ locationLabel }}" placeholder="{{ locationPlaceholder }}"></app-autocomplete>
                <mat-form-field appearance="outline">
                    <mat-label>Key Skills Needed</mat-label>
                    <input matInput type="text" placeholder="Key Skills Needed" name="keySkills" formControlName="keySkills">
                    <mat-error>Please enter key skills needed of the job.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Job Description</mat-label>
                    <textarea matInput placeholder="Job Description" rows="6" name="jobDescription" formControlName="jobDescription"></textarea>
                    <mat-error>Please enter a job description.</mat-error>
                </mat-form-field>
                <mat-card-footer>
                    <button type="submit" mat-raised-button color="accent">Post Job</button>
                </mat-card-footer>
            </form>
        </mat-card-content>
    </mat-card>
</div>