<mat-toolbar color="primary">
    <span>
        <a routerLink="/recruiter" class="header">Recruiter</a>
    </span>
    <span class="spacer"></span>
    <mat-list>
        <mat-list-item class="job-post-button">
            <a mat-button routerLink="/recruiter/post-job" routerLinkActive="post-job-active">Post Job</a>
        </mat-list-item>
        <mat-list-item *ngIf="userIsAuthenticated">
            <span class="user-profile" routerLinkActive="user-profile-active" routerLink="/recruiter/profile">
              <div class="user-info">
                <img mat-list-avatar *ngIf="user.image; else defaultImage" [src]="user.image" alt="Desc 1">              
                <ng-template #defaultImage>
                  <img mat-list-avatar src="../../../assets/images/defaultProfile.jpg">
                </ng-template>
                  <p class="user-name">{{user.firstName}}</p>
              </div>
          </span>
            <button [matMenuTriggerFor]="menu" class="user-button">
            <div class="arrow-left"></div>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <a (click)="onLogOut()" routerLinkActive="mat-accent" class="logout">
                    Log Out 
                  </a>
                </button>
            </mat-menu>
        </mat-list-item>
    </mat-list>
</mat-toolbar>