ul li {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

.header {
    font-size: 30px;
}

.mat-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.userName {
    color: white;
    margin-left: 1rem;
}