<div color="accent" class="landing-page">
    <p class="landing-question">Who are you?</p>
    <div class="landing-grid">
        <div class="recruiter">
            <button mat-stroked-button class="recruiter-button" routerLink="/login-register" color="primary">I am a Recruiter!</button>
        </div>
        <div class="jobseeker">
            <button mat-stroked-button routerLink="/login-register" class="jobseeker-button" color="accent">I am a jobseeker!</button>
        </div>
    </div>
</div>