.landing-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
}

.landing-page {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFDE7;
}

.recruiter-button {
    height: 200px;
    font-size: 30px;
    width: 300px;
    margin-left: 40%;
    border-radius: 10px;
    box-shadow: 20px 20px 50px 15px grey !important;
    border: none;
    color: honeydew;
    position: relative;
    top: 30%;
    background-color: #311B92;
    color: white;
}

.recruiter-button:hover,
.jobseeker-button:hover {
    animation-name: colorofbutton;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes colorofbutton {
    100% {
        background-color: #1DE9B6;
        color: #E65100;
    }
}

.jobseeker-button {
    font-size: 30px;
    height: 200px;
    width: 300px;
    margin-left: 20%;
    border: none;
    border-radius: 10px;
    box-shadow: 20px 20px 50px 15px grey !important;
    color: honeydew;
    position: relative;
    top: 30%;
    color: aliceblue;
    background-color: #311B92;
}

.landing-question {
    text-align: center;
    font-size: 50px;
}