mat-icon {
    margin-top: 1rem;
}

mat-card {
    margin-bottom: 1rem;
    background-color: aliceblue;
}

mat-panel-description {
    text-align: center;
}

.company-logo {
    height: 30px;
    width: 30px;
}

img {
    margin-top: 1rem;
    margin-left: -0.3rem;
}

.job-info {
    margin-bottom: 1rem;
}

.pre-wrap {
    white-space: pre-line;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.company-info,
.skill-set {
    display: grid;
    grid-template-columns: 1fr 35fr;
}

.panel-title {
    font-size: 1.2rem;
}

mat-icon {
    float: right;
    margin: 0;
}

.close:hover {
    color: red;
}

mat-expansion-panel {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.work-experience,
.location {
    position: relative;
    top: 0.3rem;
    color: rgb(78, 164, 190);
}

.keyskill-icon {
    position: relative;
    top: 0.3rem;
    color: rgb(78, 164, 190);
}

.bottom {
    margin-top: 1rem;
}